@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.NotFound404-page {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    row-gap: 1rem;
    font-family: Helvetica;
    position: fixed;
    top: 0;
    z-index: 4;
    left: 0px;

    .NotFound404__header {
        display: flex;
        flex-direction: row;
        column-gap: 1.7rem;
        align-items: center;
        justify-content: center;
        margin-bottom:3.5rem;
        padding-left: 5.5rem;
        
        div {
            max-width: fn.PxToRem(270);
            line-height: 1.1;
        }
        
        span {
            font-size: 7rem;
        }
        
        h2 {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-family: monospace;
            font-weight: 100;
        }
        
        h3 {
            font-size: .75rem;
            font-family: primary-font;
            color: var(--fifth-font-color);
            letter-spacing: 0.05rem;
        }
    }
    
    .NoFound404__copy-right {
        font-size: .5rem;
    }
    
    a {
        font-size: .55rem;
        color: var(--white);
        font-family: Helvetica;
        text-decoration: none;
    }
}


