@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.aside-task {
  background-color: var(--white);
  
  .label-check {
        label {
            text-decoration: line-through;
            text-decoration-color: var(--border-color-primary);
        } 
  }
}

.input-check {
    label {
        color: var(--font-color-primary);
    }
  
    input[type=checkbox] {
        border: fn.PxToRem(2) solid var(--primary-border-color);
    }

    input[type=checkbox]:checked {
        background-color: var(--primary-color);
    }

    input[type=checkbox]:before {
        content: '';
        border: solid var(--secundary-border-color);
        border-width: 0 fn.PxToRem(1) fn.PxToRem(1) 0;
    }
}








