@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.footer {
    background-color: unset;
    height: auto;
    margin-top: .5rem;
    display: flex;
    border-top: fn.PxToRem(1) solid var(--gray);
    flex-direction: column;

    h3 {
        font-size: .75rem;
    }
    
    .footer__container-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: .75rem 2.25rem 1.25rem 1.75rem; 
    }
    
    .footer__content-left {
        line-height: 1.3;

    }
    
    .footer__content-right {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        
        i {
            font-size: .75rem;
            color: var(--red);   
        }
    }
    
}


