@font-face {
    font-family: 'icomoon';
    src:  url('../svgs/icomoon.eot');
    src:  url('../svgs/icomoon.eot') format('embedded-opentype'),
      url('../svgs/icomoon.ttf') format('truetype'),
      url('../svgs/icomoon.woff') format('woff'),
      url('../svgs/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bug:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-circle:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e907";
}
.icon-right-arrow:before {
  content: "\e900";
}
.icon-dots-horizontal-triple:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e901";
}
.icon-notifications:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e904";
}
.icon-rol:before {
  content: "\e976";
}
.icon-dashboard:before {
  content: "\e99c";
}
.icon-projects:before {
  content: "\e9ae";
}
.icon-users:before {
  content: "\e971";
}
.icon-delete:before {
  content: "\e9ac";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea0c";
}
