@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.container-layout {
    background-color: var(--white);
    border-radius: .75rem;
    display: grid;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
  
    h1 {
        color: var(--black);
        font-family: primary-font-bold;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    button {
        align-items: center;
        border-radius: .25rem;
        color: var(--white);
        display: flex;
        font-size: .75rem;
        justify-self: end;
        margin-bottom: 1.25rem;
    }
    
    input {
        border: 1px solid var(--light-green);
        
        &::placeholder {
            color: var(--gray);
        }
        
        &:focus {
            border-color: var(--light-blue);
            outline: none;
        }
    }
    

  .table {
    
    th {
        background-color: var(--white);
        font-size: .75rem;
        padding: .5rem .5rem;
    }

    tr {
        padding-left: .5rem;
      
        &:hover {
            background-color: var(--gray)
        }
    }
    
    td {
        border-bottom: fn.PxToRem(1) solid var(--light-gray);
        border-top: fn.PxToRem(1) solid var(--light-gray);
        content: '\n';
        font-size: .75rem;
        padding: .7rem .5rem;
        white-space: pre;
    }
    
    span {
        border-radius: .5rem;
        font-size: .75rem;
        padding: 0rem .5rem;
        white-space: nowrap;
    }
    
    img {
        width: fn.PxToRem(40);
        height: fn.PxToRem(40);
        border-radius: 50%;
    }

    .table__td-with-opcions {

      div {
            column-gap: .5rem;
        
        .icon-edit {
            color: var(--primary-color);
        }
        
        .icon-delete {
            color: var(--red);
        }
      }	
    }
  }
  
    .form {
        background-color: var(--white);

    label {
        color: var(--primary-front-color);
        font-size: .75rem;
    }
    
    input {
      color: var(--primary-font-color);
    }
  
    h1 {
        color: var(--primary-front-color);
        font-family: primary-font-bold;
        font-size: 1rem;
    }
    
    i {
        color: var(--gray);
        display: inline-block;
        font-size: .75rem;
    }
  }
  
  .modal-confirmation {
    background-color: var(--transparent-black);
    
    .modal__container{
         background-color: var(--white);
    }
    
    h1 {
        color: var(--primary-font-color);
        font-family: primary-font;
    }
  }	
  
  .search {
    position: fixed;
    margin-left: 2rem;
    top: .9rem;
  }
}



.utils-vertical-line {
    background-color: var(--light-gray);
}
