@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;



.pages-routes {
  width: auto;
  display: flex;
  
  .navbar {
    background-color: var(--white);
    color: var(--primary-font-color);
    
    span {
      font-family: primary-font;
    }
  
    a {
      color: var(--primary-font-color);
    }
    
    .icon-right-arrow {
      color: var(--third-font-color);
    }
  }
}