.table-projects {
    overflow: auto;
    height: auto;
    width: 100%;
    
    .icon-circle {
        color: var(--red);
    }
    
    .icon-check {
        color: var(--green);
    }
    
    .projects-table__custom-opcions {
        margin-left: 1rem;
    }
}
  


