@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.header {
    display: flex;
    align-items: center;
    height: fn.PxToRem(60);
    padding: 0rem 1rem;
    position: sticky;
    top: 0rem;
    z-index: 4;
    background-color: var(--white);
    box-shadow: 0 fn.PxToRem(4) fn.PxToRem(24) #0000001f;
    column-gap: .75rem;
    
    .header__logo {
        width: fn.PxToRem(90);
        height: fn.PxToRem(30);
        margin-left: .5rem;
    }
    
    .header__avatar {
        width: fn.PxToRem(28);
        height: fn.PxToRem(28);
        border-radius: 50%;
        object-fit: cover;
    }
    
    .icon-notifications {
        margin-left: auto;
    }
    
    .icon-circle {
        position: absolute;
        top: 1.2rem;
        right: 7.2rem;
        font-size: .5rem;
        color: var(--primary-color);
    }
}
