@use '/src/scss/colors.scss';


@font-face {
  font-family: primary-font;
  src: url('/src/assets/fonts/primary/AmpleSoft.otf');
}

@font-face {
  font-family: primary-font-bold;
  src: url('/src/assets/fonts/primary/AmpleSoft-Bold.otf');
}

@font-face {
  font-family: secundary-font;
  src: url('/src/assets/fonts/secundary/NuvoOT.otf');
}

:root {
  background-color: #F4F7FE;
  color-scheme: light dark;
  color: rgba(70, 66, 66, 0.87);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  padding: 0;
  width: auto;
}

html {
  max-width: 1600px;
  margin: auto;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: primary-font;
}

label {
  font-size: .75rem;
}

h1, h2, h3 {
  margin: 0;
}

.button-confirm {
  background-color: var(--secundary-color);
}

.button-cancel  {
  background-color: var(--dark-gray);
}

.button-create {
  background-color: var(--primary-color);
}

.table-format-1 {
	
  tr:nth-child( odd ) {
    background-color: var(--light-gray);
  }
    
  tr:hover {
    background-color: var(--gray);
  }
}	









