:root {

    --primary-font-color: #090a0c96;
    --secundary-font-color: white;
    --third-font-color: #8b8f92b6;
    --fourth-font-color: #4C4AAD;
    --fifth-font-color: rgb(218, 210, 210);
    --sixth-font-color: #090a0c65;
    
    --primary-border-color: #3334352a;
    --secundary-border-color: white;


    --black: rgba(0, 0, 0, 0.849);
    --transparent-black: #302e2e5c;
    --dark-gray: #19191ba1;
    --dark-purple: #263D90;
    --gray: #5f5e5c63;
    --green: #247969;
    --light-green: rgba(0, 128, 0, 0.349);
    --light-black: #171718bd;
    --light-blue: #67b9f3c4;
    --light-gray: #44404021;
    --light-orange: #F3777F;
    --light-purple: #7FA1FB;
    --light-red: #ed0c0c63;
    --orange: #FB4B40;
    --primary-color: #4C4AAD;
    --purple: #7878E8;
    --red: #cd2222;
    --secundary-color: #0976FE;
    --white: white;
    --yellow: #FFC724;
}

:root.dark {

    --black: #232323;
    --primary-color: #4C4AAD;
    --secundary-color: #5CBAFF;
    --dark-gray: #959599;
    --dark-purple: #263D90;
    --gray: #8d8d94;
    --green: #3DD4B8;
    --light-blue: #93BEFF;
    --light-gray: #9099A9;
    --light-orange: #F3777F;
    --orange: #FB4B40;
    --purple: #7878E8;
    --secundary: #ff217a96;
    --white: white;
    --yellow: #FFC724;
}

