@use 'zzz-folder04-configuraciones-css/CSS01Functions.scss' as fn;

.container-pages-layout {
	border-radius: .75rem;
	overflow-x: auto;
	width: 100%;
}

.modal-confirmation {
	background-color: #302e2e5c;
	height: 100vh;
	justify-content: end;
	left: 0rem;
	position: fixed;
	width: 100vw;
	z-index: 5;
	
	.modal__container{
		background-color: var(--white);
		max-width: fn.PxToRem(350);
		position: relative;
	}
	
	.modal__buttons-container {
		column-gap: 1rem;
	}
	
	h1 {
		color: var(--third-font-color);
		font-size: 1rem;
		font-family: primary-font;
	}
	
}	  

.button-confirm {
	background-color: var(--secundary-color);
}

.button-cancel  {
	background-color: var(--gray);
}

.button-create {
	background-color: var(--primary-color);
}

